{
    "tabWidth": 2,
    "useTabs": true,
    "singleQuote": true,

    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "/routes/",
        "/middleware/",
        "^../(./*)",
        "^./(./*)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers":true
}